.shareContainer {
	display: none;
	flex-direction: column;
	gap: 1rem;
	justify-content: center;
	align-items: center;
	position: fixed;
	right: 24px;
	bottom: 132px;
	transition: all 0.7s ease;
	padding: 8px;
	border-radius: 10px 10px 5px 5px;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
	background-color: white;
}

.shareContainer.open {
	display: flex; 
}