.shareContainer {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	opacity: 0;
	justify-content: center;
	align-items: center;
	position: fixed;
	right: 22px;
	bottom: 168px;
	transition: opacity 0.3s ease; 
	padding: 10px;
	border-radius: 20px 20px 20px 20px;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
	background-color: #efefef;
}

.shareContainer.open {
	opacity: 1; 
}

.clicked {
  transform: scale(0.96); 
  transition: transform 0.3s ease; 
}

.icons:hover{
	transform: scale(1.1);
	transition: transform 0.3s ease;
}