.button {
    @apply px-6 py-2 font-semibold outline-none border border-transparent rounded-md 
    focus:animate-pop;
}

.button.primary {
    @apply bg-orange-400 text-white duration-150
    hover:bg-orange-500;
}

.button.secondary {
    @apply bg-white border border-slate-300 text-slate-900
    hover:bg-slate-100;
}
