.button {
    @apply px-regular py-small font-semibold outline-none border border-transparent rounded-md flex gap-regular items-center 
    focus:animate-pop;
}

.button.primary {
    @apply bg-primary text-white duration-150
    hover:bg-primary/95;
}

.button.secondary {
    @apply bg-primary-bg border border-primary-border text-title
    hover:bg-secondary-bg;
}
