@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Sora:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base Styling */
@layer base {
    body {
        font-size: 14px;
    }

    h1,
    h2,
    h3 {
        font-family: Sora, sans-serif;
        font-weight: 600;
    }

    * {
        font-family: Inter, sans-serif;
    }

    button {
        @apply font-semibold;
    }
}

html {
    scroll-behavior: smooth;
}

/* Typography */
@import './typography.css';

/* Components */
@import './components/main.css';
