@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-size: 14px;
        font-family: Inter, sans-serif;
    }

    h1,
    h2,
    h3,
    h4 {
        font-family: Inter, sans-serif;
        @apply font-medium;
        @apply leading-loose;
    }

    h5,
    h6,
    p {
        font-family: Inter, sans-serif;
        @apply leading-relaxed;
    }
}

@import url("./button.css");
@import url("./typography.css");
