@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=DM Sans:wght@400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base Styling */
@layer base {
    body {
        font-size: 14px;
        font-family: "DM Sans", sans-serif;
    }

    h1,
    h2,
    h3,
    h4 {
        font-family: "DM Sans", sans-serif;
        @apply font-medium;
        @apply leading-loose;
    }

    h5,
    h6,
    p {
        font-family: "DM Sans", sans-serif;
        @apply leading-relaxed;
    }
}

html {
    scroll-behavior: smooth;
}

/* Imports */
@import "./button.css";
@import "./typography.css";
@import "./grids.css";
@import "./card.css";
